.pagination {
	position: relative;
	z-index: 25;
	width: fit-content;
	margin: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.pagination__button {
	padding: 1rem;
	background-color: transparent;
	border: 2px solid var(--color-light);
	color: var(--color-light);
	border-radius: 0.3rem;
	cursor: pointer;
	font-weight: 400;
	font-size: 1.3rem;
	transition: all 0.3s;
	text-transform: uppercase;
}

.pagination__button:first-child {
	margin-right: 0.5rem;
}

.pagination__button:hover {
	background-color: var(--color-dark);
	color: var(--color-primary);
	border: 2px solid var(--color-primary);
}
