.overlay {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-darkTransparent);
	position: fixed;
	z-index: 150;
}
.modal {
	color: var(--color-light);
	border-radius: 0.3rem;
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: var(--color-darkTransparent);
	backdrop-filter: blur(10px);
	border: 1px solid var(--color-light);
	transform: translate(-50%, -50%);
	z-index: 200;
	padding: 1rem 2rem;
	box-shadow: 2px 2px 10px var(--color-darkTransparent);
}

@media screen and (min-width: 768px) {
	.modal {
		border: none;
		padding: 4rem 8rem;
	}
}

.modal__image {
	width: 200px;
	height: 200px;
	border-radius: 1rem;
}

.modal__name {
	color: var(--color-light);
	font-weight: 900;
	font-size: 2rem;
}

.modal__text {
	color: var(--color-light);
	font-weight: 300;
	font-style: italic;
	font-size: 1.5rem;
}

.modal__text--gray {
	color: var(--color-light);
	font-size: 1rem;
}

.modal__text--Alive {
	color: var(--color-success);
	font-weight: 900;
	font-style: normal;
	font-size: 2rem;
}

.modal__text--Dead {
	color: var(--color-danger);
	font-weight: 900;
	font-style: normal;
	font-size: 2rem;
}

.modal__text--unknown {
	color: var(--color-light);
	font-weight: 300;
	font-style: normal;
	font-size: 2rem;
}
