.bg--dark {
	background-color: var(--color-dark);
}

.characters {
	position: relative;
	top: 100;
	padding-top: 7rem;
	padding-bottom: 2rem;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, 300px);
	justify-content: center;
	box-shadow: 0 -150px 100px 100px var(--color-dark);
}
