:root {
	--color-primary: #f08d49;
	--color-gray: #3c3e44;
	--color-dark: #202329;
	--color-light: #ffffff;
	--color-success: #85e541;
	--color-danger: #d63d2e;
	--color-darkTransparent: rgba(22, 22, 22, 0.5);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
}
